<%= turbo_frame_tag :container do %>
  <div>
    <%= t('.new_product')%>:
    <%= render 'shared/errors', object: @product %>
    <div>
      <%= render 'form', product: @product %>
    </div>
  </div>
<% end %>
