<tr class="border-b dark:border-neutral-500">
  <td class="whitespace-wrap  px-0 py-2 font-medium"><%= account.customer.first_name.truncate(10) %></td>
  <td class="whitespace-wrap  px-0 py-2 font-medium"><%= account.customer.cpf %></td>
  <td class="whitespace-wrap  px-0 py-2 font-medium"><%= number_to_currency account.amount %></td>
</tr>
